// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$black: #333;
$red: #dc3545;
$white: #fff;
$orange: #fd5b0f;
$green: rgb(0, 124, 0);
$size15: 15px;